<div class="d-flex flex-column align-items-center">
<<<<<<< HEAD
  <h2>Sign up</h2>

=======
<h2>Sign up</h2>
>>>>>>> 70ca49fcd027ac4c7ad9e44859a4720046f5a6cb
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "w-75"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: "w-100 mb-3" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100 mb-3" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "w-100 mb-3"%>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-100 mb-3" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "w-100 mb-3" %>
    </div>
  <% end %>
<<<<<<< HEAD

  <%= render "devise/shared/links" %>
</div>
=======
  
  <%= render "devise/shared/links" %>
</div>
>>>>>>> 70ca49fcd027ac4c7ad9e44859a4720046f5a6cb
