 <div class="post-page">
  <div class="large-post">
    <h2><%= @post.title + ' by ' + @user.name%></h2>
    <p>
        Comments: <%= @post.comments_counter %>,
        Likes: <%= @post.likes_counter %>
      </p>
    <p><%= @post.text %></p>

    <% if can? :delete, @post %>
      <%= link_to 'Delete Post', post_path, data: { turbo_method: :delete }, class: "btn btn-danger" %>
    <% end %>
  </div>

  <div class="comments">
    <% @post.comments.each do |comment| %>
      <div>
        <p><%= comment.author.name %>: <%= comment.text %></p>
        <% if can? :delete, comment %>
          <%= link_to 'Delete Comment', destroy_comment_path(comment: comment.id), data: { turbo_method: :delete }, class: "btn btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= bootstrap_form_with model: @comment, url: create_comment_path, method: :post, scope: :form_comment do |f| %>
    <%= f.text_area :text, label: "Add Comment" %>
    <%= f.submit "Comment" %>
  <% end %>

  <%= bootstrap_form_with model: @like, url: like_path, method: :post do |f| %>
    <%= f.submit "Like", class: "btn btn-danger" %>
  <% end %>
</div>