 <div class="post-page">
  <div class="large-post">
    <h2><%= @post.title + ' by ' + @user.name%></h2>
    <p>
        Comments: <%= @post.comments_counter %>,
        Likes: <%= @post.likes_counter %>
      </p>
    <p><%= @post.text %></p>
    
    <% if can? :delete, @post %>
      <%= link_to 'Delete Post', user_post_path, data: { turbo_method: :delete }, class: "btn btn-danger" %>
    <% end %>
  </div>

  <div class="comments">
    <% @post.comments.each do |comment| %>
      <p>
        <%= comment.author.name %>: <%= comment.text %>
      </p>
    <% end %>
  </div>

  <%= bootstrap_form_with model: @comment, url: user_post_comments_path(@user, @post, @comment), scope: :comment do |f| %>
    <%= f.text_area :text, label: "Add Comment" %>
    <%= f.submit "Comment" %>
  <% end %>

  <%= bootstrap_form_with model: @like, url: user_post_likes_path(@user, @post, @like) do |f| %>
    <%= f.submit "Like", class: "btn btn-danger" %>
  <% end %>
</div>